<div class="articles">

  {% assign grouped_posts = site.posts | group_by_exp: "post", "post.path | split: '/' | slice: 1, 1 | first" %}

  {% assign sorted_folders = grouped_posts | sort: "name"  %}

  {% for folder_group in sorted_folders %}
    {% assign folder = folder_group.name %}
    <h2>{{ folder }}</h2>
    <ul>

      {% assign sorted_posts = folder_group.items | sort: "date" | reverse %}
      {% for post in sorted_posts %}
        <li><a href="/dnd-journal/{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}

</div>
